
        <h4>Información del Contacto</h4>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="item">
              <p class="bold">Dirección</p>
              <p>Carrera 52 #91 - 66<br/> Medellín Colombia</p>
            </div>
              
            <div class="item">
              <p class="bold">Correo electrónico</p>
              <p>usuarioapellido@gmail.com</p>
            </div>

            <div class="item">
              <p class="bold">Sitio Web</p>
              <p>www.usuarioapellido.com</p>
            </div>
            <div class="item">
              <p class="bold">Red social</p>
              <p>www.instagram.com/usuarioApellido</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 bor-lef">
            <div class="item">
              <p class="bold">Dirección de correspondencia de correo</p>
              <p>Carrera 39 # 36SUR - 56 <br/>Envigado Antioquia</p>
            </div>
            <div class="item">
              <p class="bold">Numero de teléfonos</p>
              <p>Fijo<br/>
              (4) 265-77-57<br/>
              Celular<br/> (312) 792-11-22</p>
            </div>
          </div>
        </div>