$black: #000;
$white: #fff;
$gray: rgb(238, 241, 245);
$blue: rgb(88, 173, 223);
$green: rgb(126, 226, 179);
$layer-shadow: rgba(0, 0, 0,.01);

$main-dark: rgb(47, 50, 61);
$main-dark-active: rgb(39, 41, 47);
$garyscale-1: rgb(217, 217, 217);
$garyscale-2: rgb(91, 93, 102);
