<nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0">
    <a class="navbar-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-bars"></i></a>
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a routerLink="/companies">Empresas</a></li>
        <li class="breadcrumb-item last" routerLinkActive="active">Nombre {{ title }}</li>
    </ol>

    <div class="profile-section col">
      <figure>
        <img src="assets/images/profile-user.png" class="img-fluid" alt="Usuario Apellido" />
      </figure>
      <a href="#" class="dropdown-toggle">Usuario Apellido</a>
    </div>
</nav>

<div class="container-fluid main-content">
  <div class="row">
      <app-menu></app-menu>

    <main role="main" class="col-lg-12 px-4 pt-5 pb-2 mb-2">
      <router-outlet></router-outlet>
    </main>

    <footer class="col-lg-12">
      <app-footer></app-footer>
    </footer>
  </div>
</div>