
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$quipux-primary: mat-palette($mat-indigo);
$quipux-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$quipux-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$quipux-theme: mat-light-theme($quipux-primary, $quipux-accent, $quipux-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($quipux-theme);

/* You can add global styles to this file, and also import other style files */

@import '../src/theme/variables';

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; font-family: 'Open Sans', sans-serif; font-size: 12px; }

a {
    color: $blue;
}

.navbar-button {
    background-color: $main-dark;
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: $white;
    font-size: 20px;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.navbar {
    height: 60px;

    .breadcrumb {
        li {
            text-transform: uppercase;
            position: relative;
            font-size: 14px;
            letter-spacing: .5px;
            color: $garyscale-1;

            &::before {
                color: $garyscale-1;
            }

            a {
                color: $garyscale-1;
            }

            &:hover {
                &.last {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }

            &.last {
                color: $blue;
                font-weight: bold;

                &::after {
                    border-bottom: 5px solid $blue;
                    bottom: -1.3rem;
                    content: '';
                    display: block;
                    left: 1.3rem;
                    position: absolute;
                    right: 0;
                    transform: scaleX(1);
                    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
                }
            }
        }
    }
}

.column {
    .layer {
        background-color: $white;
        padding: 2rem 1.5rem;
        text-align: center;
        box-shadow: 0 0 20px $layer-shadow;

        h4 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            text-align: left;
            margin-bottom: 3rem;
        }

        .item {
            margin-bottom: 3rem;
        }
        
        p {
            font-weight: 400;
            font-size: 12px;

            &.bold {
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

    .bor-lef {
        border-left: 1px solid $gray;
    }
}

footer {
    figure {
        width: 100px;
        margin: 0 auto 1rem;
    }
}