
<h4>Información de la Empresa</h4>
<div class="information">
  <div class="item">
    <p class="bold">Nombre</p>
    <p>Quipux S.A.S</p>
  </div>

  <div class="item">
    <p class="bold">Fecha de creación</p>
    <p>1995/05/16</p>
  </div>

  <div class="item">
  <p class="bold">Dirección</p>
  <p>Carrera 43A No. 3Sur-130,<br/> Ed. Milla de Oro,<br/> Distrito de Negocios Torre 1,<br/>
      Piso 12<br/> Medellín Colombia</p>
  </div>

  <div class="item">
    <p class="bold">Numero de teléfonos</p>
    <p>Fijo<br/>
      +57 (4) 313-70-00 Fax<br/>
      +57 (4) 313-44-77</p>
  </div>

  <div class="item">
    <p class="bold">Sitio Web</p>
    <a href="www.quipux.com/site">www.quipux.com/site</a>
  </div>
</div>

    
